body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #c9d1d9;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column; /* Ensure content stacks vertically */
}

.sidebar {
    width: 20%;
    background-color: #2d2d2d;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #2d2d2d;
}

.sidebar h1 {
    color: #238636;
}

nav h1 {
    color:  #2ea043;
}

.sample-texts {
    flex: 1;
    overflow-y: auto;
    margin-top: 20px;
}

.sample-texts button {
    width: 100%;
    background-color:  #238636;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.sample-texts button:hover {
    background-color: #498255;
}

.sample-texts button p {
    margin: 0;
    font-size: 12px;
    color: #c9d1d9;
}

.content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.output {
    background: #2d2d2d;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 20px auto;
}

.output-section {
    margin-bottom: 20px;
}

.output-section p {
    margin: 10px 0;
    padding: 10px;
    margin-bottom: 60px;
    background-color: #1e1e1e;
    border-radius: 4px;
    border: 1px solid #444c56;
}

.output-section h2 {
    margin-bottom: 10px;
}

.fixed-form {
    position: fixed;
    bottom: 0;
    width: calc(90%);
    left: 2%;
    background: #2d2d2d;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed-form form {
    display: flex;
    flex-direction: column; /* Ensure form items stack vertically */
    width: 100%; /* Take full width of parent */
}

.form-group {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
    width: 100%; /* Take full width of parent */
}

label {
    display: block;
    margin-bottom: 5px;
    color: #8b949e;
}

textarea,
input[type="number"] {
    width: 100%; /* Take full width of parent */
    padding: 10px;
    border: 1px solid #444c56;
    border-radius: 4px;
    background-color: #2d2d2d;
    color: #c9d1d9;
    overflow-y: auto;
    resize: none; /* Prevent resizing */
}

button {
    background-color: #238636;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2ea043;
}

@media (max-width: 500px) {
    .container {
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .sidebar {
        width: 100%; /* Take full width on smaller screens */
    }

    .sample-texts button {
        width: 100%;
    }

    .output {
        padding: 10px;
    }

    .fixed-form {
        flex-direction: column;
        padding: 10px;
    }

    .fixed-form form {
        width: 100%;
    }

    .form-group {
        margin-bottom: 10px;
        width: 100%;
    }

    label {
        margin-bottom: 5px;
    }

    textarea,
    input[type="number"] {
        width: 100%;
        margin-left: 0;
    }
}
